@*
    This is the Index page
*@
@{
    ViewData["Title"] = "Index";
}


<h2>Welcome to Joey and Patrick's Assignment 2 Home Page! </h2>
<h3>Enjoy your stay!!!</h3></br>

<p>
    Review: </br>We both enjoyed this course. Being able to learn new tools/platforms was very interesting.
    Publishing our web apps in Azure and utilizing servers, database, and storage containers was very cool!
    </br>
    We also both very much enjoyed how the course was presented. The theory was very concise and the examples
    you provided for the labs and assignments allowed for a better understadnig of the process required.
    </br>
    Thank you for a great semester, learning .NET has been very interesting :)
</p>

