@model Assignment2.Models.Community;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Upload" asp-route-id="@Model.Id" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <input name="adsFile" type="file"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Upload Now</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
